<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lec_reg</title>
</head>
<body>
    <div style="font-size: 2em"><b>DB Online Learning Platform</b></div>
    <p style="font-size: 1.5em"><b>Lecture INFO</b></p><br>
    <table border="1">
        <th>code</th>
        <th>name</th>
        <th>price</th>
        <th>tutor</th>
        <tr>
            <td>{{lecture[0]}}</td>
            <td>{{lecture[1]}}</td>
            <td>{{lecture[2]}}</td>
            <td>{{lecture[3]}}</td>
        </tr>
    </table><br>
    Your credit: {{userinfo[1]}}<br>
    Your rating: {{userinfo[2]}}<br><br>
    Total price: {{lecture[2]}}<br><br>
    Pass existence:
    {% if have_pass==[] %}
    No
    {% else %}
    Yes
    {% endif %}
    <br>
    Discount price: {{discount}}<br><br>
=============================================<br>
    Final price: {{final}}<br>
<form action="/conf" method="post">
    <input type="hidden" name="what" value="lec">
    <input type="hidden" name="have_pass" value="{{have_pass}}">
    <input type="hidden" name="tutee" value="{{userinfo[0]}}">
    <input type="hidden" name="d_price" value="{{final}}">
    <input type="hidden" name="code" value="{{lecture[0]}}">
    <input type="hidden" name="name" value="{{lecture[1]}}">
    <input type="hidden" name="tutor" value="{{lecture[3]}}">
    <input type="submit" name="confirm" value="confirm">
</form>
<form action="/return" method="post">
    <input type="hidden" name="id" value={{userinfo[0]}}>
    <input type="hidden" name="whereto" value="login_success.html">
    <input type="submit" name="confirm" value="cancel">
</form>

</body>
</html>