<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign_up</title>
</head>
<body>

<div style="font-size: 2em"><b>DB Online Learning Platform</b></div>
<p style="font-size: 1.5em">Sign up page</p>
<form action="/signup" method="post">
    <label for="user_id">ID:</label><br>
    <input id="user_id" type="text" name="id" value=""><br>

    <label for="user_pwd">PASSWORD</label><br>
    <input id="user_pwd" type="text" name="password" value=""><br>

    <label for="role">Choose a role:</label>
    <select name="role" id="role">
      <option value="tutor">Tutor</option>
      <option value="tutee">Tutee</option>
    </select>
    <br>

    <input type="submit" name="send" value="sign up">
</form>

</body>
</html>